.rf-container {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card-rf {
    background-color: var(--c3);
    border-radius: 12px;
    padding: 10px;
}

.main-members-container {
    display: flex;
    flex-wrap: wrap;
}

.event-info {
    display: flex;
    justify-content: space-between;
}

.mt-3 {
    min-width: 300px;
    margin: 10px;
    padding: 10px;
}

.input-group {
    margin: 10px;
    width: 200px;
}

.tab-actions {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.tab-actions button {
    margin: 10px;
}

.error-container {
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px solid maroon;
}

.main-card-rf input[type="text"], input[type="number"], select {
    padding: 5px;

}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}


@media screen and (max-width: 665px) {
    .rf-container {
        padding: 80px 10px;
    }

    .mt-3 {
        width: calc(100% - 20px);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
}

@media screen and (max-width: 665px) {
    .input-group {
        width: 280px;
    }
    
    .input-group input {
        width: calc(100% - 20px);
    }

    .mt-3 > div {
        justify-content: center;
    }
}